{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1%"
          ],
          "node": "current"
        }
      }
    ],
    "stage-3"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
