{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {"mocha": true},
    "globals": {
        "runTestCases": true,
        "reverseCases": true,
        "YqgToast": true,
        "YqgLogger": true,
        "YqgAlert": true
    },
    "rules": {
        // reference: http://eslint.org/docs/rules/
        // Possible Errors
        "comma-dangle": [2, "never"],
        "no-cond-assign": [2, "except-parens"],
        "no-extra-parens": [2, "functions"],
        "no-unexpected-multiline": [2],
        // "valid-jsdoc": [2],

        // Best Practices
        // "consistent-return": [2],
        "curly": [2, "multi-line", "consistent"],
        "default-case": [2],
        "eqeqeq": [2, "smart"],
        "guard-for-in": [2],
        "no-eval": [2],
        "no-extend-native": [2],
        "no-lone-blocks": [2],
        "no-loop-func": [2],
        "no-multi-spaces": [2],
        "no-multi-str": [2],
        "no-sequences": [2],
        // "no-unused-expressions": [2],
        "no-useless-call": [2],
        "no-useless-concat": [2],
        "wrap-iife": [2, "inside"],

        // Variables
        "no-catch-shadow": [2],
        "no-label-var": [2],
        "no-param-reassign": [0],
        "no-shadow-restricted-names": [2],
        "no-shadow": [2, {"builtinGlobals": false, "hoist": "functions", "allow": ["err"]}],
        "no-unused-vars": [2, {"vars": "all", "args": "after-used", "argsIgnorePattern": "next"}],
        "no-use-before-define": [2, "nofunc"],

        // Node.js and CommonJS
        "callback-return": [2, ["callback", "cb", "next"]],
        "global-require": [2],
        "handle-callback-err": [2],
        "no-mixed-requires": [1, {"grouping": true}],
        "no-new-require": [2],

        // Stylistic Issues
        "array-bracket-spacing": [2, "never"],
        "block-spacing": [2, "never"],
        "brace-style": [2, "1tbs", { "allowSingleLine": true}],
        "camelcase": [2, {"properties": "always"}],
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "computed-property-spacing": [2, "never"],
        "consistent-this": [2, "self", "vm"],
        "eol-last": [2],
        "id-length": [2, {"min": 2, "properties": "never", "exceptions": ["i", "s", "t", "x", "fs", "hm", "Q", "_", "$"]}],
        "indent": [2, 4, {"SwitchCase": 1}],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "keyword-spacing": [2],
        "linebreak-style": [2, "unix"],
        "max-depth": [2, 4],
        "max-len": [2, 120, 4],
        "max-nested-callbacks": [2, 5],
        "max-params": [2, 10],
        // "new-cap": [2, {"capIsNewExceptions": []}],
        "new-parens": [2],
        "no-bitwise": [2],
        "no-lonely-if": [2],
        "no-multiple-empty-lines": [2, {"max": 2, "maxEOF": 1}],
        "no-spaced-func": [2],
        "no-trailing-spaces": [2, {"skipBlankLines": false}],
        "no-unneeded-ternary": [2],
        "object-curly-spacing": [2, "never"],
        "one-var": [2, "never"],
        "operator-assignment": [2, "always"],
        "operator-linebreak": [2, "before"],
        "padded-blocks": [2, {"classes": "always"}],
        "quote-props": [2, "consistent-as-needed"],
        "quotes": [2, "single", "avoid-escape"],
        "semi-spacing": [2, {"before": false, "after": true}],
        "semi": [2, "always"],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
        "space-in-parens": [2, "never"],
        "space-infix-ops": [2],
        "space-unary-ops": [2, {"words": true, "nonwords": false}],
        "spaced-comment": [2, "always"],

        // added
        "class-methods-use-this": [1],
        "function-paren-newline": [2, "consistent"],
        "import/extensions": [2, "always", {
            "js": "never",
            "vue": "never"
        }],
        "import/no-dynamic-require": [1],
        "import/no-extraneous-dependencies": [0],
        "import/no-unresolved": [0, {"commonjs": true, "amd": true}],
        "import/prefer-default-export": [0],
        "no-console": [2],
        "no-multi-assign": [1],
        "no-restricted-globals": [1],
        "no-restricted-properties": [1],
        "no-return-assign": [2, "except-parens"],
        "object-curly-newline": [0],
        "object-property-newline": [0],
        "prefer-destructuring": [1],
        "prefer-promise-reject-errors": [1]
    }
}
