{
    "extends": "@yqg/eslint-config/vue",
    "rules": {
        "vue/html-self-closing": ["error", {
            "html": {
                "void": "never",
                "normal": "never"
            }
        }]
    }
}
