@import "../../style/variables.scss";

.b-dialog-wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .4);
    z-index: $z-index-dialog-wrapper;
    display: flex;

    .b-dialog-content-wrapper {
        flex: 1;
        box-sizing: border-box;
        padding: 30px;
        margin: auto;
    }

    .b-dialog {
        margin: auto;
        width: 75%;
        max-width: 768px;
        padding: 20px 20px 10px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 19px 60px rgba(0, 0, 0, .298039), 0 15px 20px rgba(0, 0, 0, .22);

        .b-dialog-icon-close {
            float: right;
            cursor: pointer;
        }
    }

    .b-dialog-title {
        margin: 0 0 20px;
    }

    .b-dialog-body {
        padding-bottom: 30px;
        color: rgba(0, 0, 0, .6);

        &.enable-scroll {
            max-height: 75vh;
            overflow-y: auto;
        }

        @media screen and (max-width: $tablet-min) {
            max-height: 70vh;
        }
    }

    .b-dialog-actions {
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &.position-center {
        align-items: center;
        justify-content: center;
    }

    &.position-top {
        align-items: flex-start;
        justify-content: center;

        .b-dialog-content-wrapper {
            margin-top: 20px;
        }
    }

    &.enable-scroll {
        overflow-y: auto;
    }

    &.sm .b-dialog {
        max-width: 400px;
    }

    &.lg .b-dialog {
        width: 90%;
        max-width: 1200px;
    }

    &.fs {
        .b-dialog-content-wrapper {
            padding: 0;
        }

        .b-dialog { // full-screen
            left: 0;
            top: 0;
            transform: none;
            box-sizing: border-box;
            width: 100vw;
            height: 100vh;
            max-width: 100vw;
            max-height: 100vh;
            border-radius: 0;

            .b-dialog-body {
                max-height: calc(100vh - 100px);
            }
        }
    }

    &.gray .b-dialog {
        background-color: #f1f1f1;
    }
}

.b-dialog-slide-enter-active,
.b-dialog-slide-leave-active {
    transition: .36s cubic-bezier(.78, .14, .15, .86);

    .b-dialog {
        transition: transform .36s cubic-bezier(.78, .14, .15, .86);

        &.fs {
            transition: transform .5s ease;
            transform: translate(0, 0);
        }
    }
}

.b-dialog-slide-enter,
.b-dialog-slide-leave-to {
    opacity: 0;

    .b-dialog {
        transform: translate(0, 5%);
    }
}
