@import "../variables.scss";

.b-image {
    position: relative;

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }

    .image-preview-wrap {
        margin-top: 10px;
        cursor: pointer;

        .mask {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 3px;
            transition: 1s;

            .b-icon-search {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                opacity: 0;
                color: $white;
                transition: .5s;
            }

            .b-icon-trash {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
                font-size: 18px;
                opacity: 0;
                color: $gray-dark;
                background-color: rgba($white, .7);
                border-radius: 2px;
                transition: .5s;
            }
        }

        .image-preview {
            display: inline-block;
            position: relative;
            margin-right: 10px;
            margin-bottom: 10px;

            &:hover {
                .mask {
                    background-color: rgba($black, .3);

                    .b-icon-search {
                        opacity: 1;
                    }

                    .b-icon-trash {
                        opacity: .7;

                        &:hover {
                            color: $red;
                            opacity: 1;
                        }
                    }
                }
            }

            img {
                min-height: 20px;
                max-height: $form-inline-height;
                border-radius: 3px;
                box-shadow: $standard-box-shadow;
                transition: 1s;
            }
        }

        .image-preview-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .create {
            position: relative;
            left: 20px;
            bottom: 5px;
            cursor: pointer;

            input {
                width: 100%;
                height: 100%;
                z-index: 100;
                cursor: pointer;
            }
        }
    }

    &:hover {
        &.b-resettable {
            input[type="file"] {
                width: calc(100% - 20px);
            }
        }
    }
}
