.b-input {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    .content {
        flex: 1;

        input {
            &[type="checkbox"] {
                width: 256px;
                height: 30px;
                cursor: pointer;
            }
        }
    }
}

.form-block,
.form-block-horizontal {
    .b-input {
        display: flex;
    }
}

.b-date,
.b-date-time,
.b-date-string,
.b-image,
.b-select {
    .b-input {
        position: relative;

        &.b-date-input-active {
            input {
                border-color: $primary;
            }
        }

        input {
            padding-right: 15px;
            cursor: pointer;
        }

        .b-right-icon {
            position: absolute;
            right: 0;
            bottom: 8px;
            color: $gray;
            z-index: $z-index-right-reset;

            &.b-date-icon-active,
            &.b-select-icon-active {
                color: $primary;
            }
        }
    }

    &:hover {
        &.b-resettable {
            .b-input i,
            .b-select-reset i {
                cursor: pointer;

                &:hover {
                    color: $primary-dark;
                }

                &:before {
                    content: "\e60c";
                }
            }
        }
    }

    &.disabled {
        .b-input {
            input {
                color: $gray;
                cursor: not-allowed;
                user-select: none;
            }
        }
    }
}
