.b-input {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    .content {
        flex: 1;
    }
}

.form-block,
.form-block-horizontal {
    .b-input {
        display: flex;
    }
}

.b-date,
.b-image,
.b-select {
    .b-input {
        position: relative;

        input {
            padding-right: 15px;
            cursor: pointer;
        }

        .b-right-icon {
            position: absolute;
            right: 0;
            bottom: 8px;
            color: $gray-dark;

            &.b-select-icon-active {
                color: $primary;
            }
        }
    }

    &:hover {
        &.b-has-value {
            i {
                cursor: pointer;

                &:hover {
                    color: $primary-dark;
                }

                &:before {
                    content: "\e60c";
                }
            }
        }
    }

    &.disabled {
        .b-input {
            input {
                cursor: not-allowed;
            }
        }
    }
}
