@import "../../style/variables.scss";

$header-front-color: $primary-dark;
$header-front-hover-color: $primary-dark;
$header-background-coor: $white;
$nav-side-width: 200px;
$nav-header-font-size: 14px;
$nav-font-size: 13px;
$nav-font-color: $white;
$nav-front-link-color: $white;
$nav-background-color: $primary-dark;
$nav-background-active-color: lighten($gray-light, 5);
$nav-background-hover-color: lighten($gray-light, 20);
$nav-background-nested-color: lighten($primary-dark, 0);
$nav-background-nested-active-color: lighten($gray-light, 5);
$nav-background-nested-hover-color: lighten($gray-light, 20);
$nav-border-color: darken($primary-dark, 5);

$navMobileHeight: 48px;
$subNavHeight: 40px;
$navFontSize: 13px;

.b-layout {
    .header-buffer {
        height: $mat-height;
    }

    .b-nav-top {
        .nav-buffer {
            height: $mat-height;

            @media screen and (max-width: 770px) {
                height: $navMobileHeight;
            }
        }

        .sub-nav-buffer {
            height: $subNavHeight;
        }

        .nav-wrap {
            display: flex;
            flex-flow: column;
            align-items: center;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: $z-index-nav-top;
        }

        li {
            margin: 0 10px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        a,
        .drop-menu-item {
            display: inline-block;
            color: $black;
            padding: 8px 0;
            border-bottom: 1px solid transparent;
        }

        .level-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav {
            position: relative;
            background-color: $primary-dark;
            width: 100%;

            a {
                color: $white;
            }

            i {
                font-size: 20px;
            }

            .nav-menu {
                display: flex;
                align-items: center;
                height: $mat-height;
                box-sizing: content-box;
                padding: 0 20px;
                margin-top: 0;
                margin-bottom: 0;
                font-size: $navFontSize;

                .nav-drop {
                    flex: 1;
                    display: none;
                    cursor: pointer;

                    .icon-toggle {
                        &:hover {
                            span {
                                background-color: $gray;
                            }
                        }

                        span {
                            background-color: $white;
                        }
                    }
                }

                .nav-left {
                    flex: 1;
                }

                .nav-root-wrap {
                    flex: 4;

                    .nav-link {
                        color: $white;
                        cursor: pointer;
                        letter-spacing: 1px;

                        &:hover,
                        &.active {
                            color: $gray-light;
                            border-bottom: 1px solid $gray-light;
                        }
                    }
                }

                .nav-right {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                }
            }

            .nav-drop-menu {
                position: absolute;
                top: 48px;
                display: none;
                background-color: rgba($primary-dark, .9);
                transform-origin: top;
                z-index: $z-index-nav-top;

                .container {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                .drop-menu-item {
                    display: block;
                    color: $white;
                    cursor: pointer;

                    &:hover {
                        border-bottom: 1px solid $white;
                    }
                }
            }
        }

        .sub-nav {
            background-color: $white;
            transform-origin: top;

            .sub-nav-list {
                height: $subNavHeight;
                font-size: $navFontSize;

                .sub-nav-item:hover,
                .sub-nav-item.active {
                    border-bottom: 1px solid $primary-dark;

                    a {
                        color: $primary-dark;
                    }
                }
            }
        }

        @media screen and (max-width: 770px) {
            .nav {
                height: $navMobileHeight;

                .nav-menu {
                    margin: 0;

                    .nav-drop {
                        display: block;
                    }

                    .nav-left {
                        display: flex;
                        justify-content: center;
                    }

                    .nav-root-wrap {
                        display: none;
                    }
                }

                .nav-drop-menu {
                    display: block;
                }
            }

            .sub-nav {
                display: none;
            }

            .sub-nav-buffer {
                display: none;
            }
        }

        .nav-slide-enter-active,
        .nav-slide-leave-active {
            transition: $all-transition;
        }

        .nav-slide-enter,
        .nav-slide-leave-to {
            transform: scale(1, 0);
        }
    }

    .icon-toggle {
        position: relative;
        top: 2px;
        width: 16px;
        height: 16px;
        margin-right: 20px;
        transition: .5s ease-in-out;
        cursor: pointer;

        &:hover {
            span {
                background-color: $gray;
            }
        }

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $header-front-color;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            transition: .3s;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 6px;
            }

            &:nth-child(3) {
                top: 12px;
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        width: 100%;
        height: $mat-height;
        background-color: $header-background-coor;
        z-index: $z-index-nav-top;
        color: $header-front-color;
        box-shadow: $standard-box-shadow;

        a {
            color: $header-front-color;
            transition: color .4s;

            &:hover {
                color: $header-front-hover-color;
            }
        }

        i {
            font-size: 20px;
        }

        .left {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding-left: 20px;
        }

        .center {
            display: inline-flex;
            justify-content: flex-start;
            flex: 1;
            margin: 0;
            padding: 0 20px;
            text-align: left;

            h1,
            h2,
            h3,
            h4 {
                margin: 0;
                font-size: 18px;
                color: $black;
            }
        }

        .right {
            padding-right: 20px;
        }

        @media only screen and (max-width: $ultra-book-min + $break-point-buffer) {
            .left {
                width: initial;
                padding-left: 10px;
            }

            .center {
                padding: 0 0;
            }

            .right {
                padding-right: 10px;
            }
        }
    }

    .nav {
        position: fixed;
        top: 0;
        width: $nav-left-width;
        z-index: $z-index-nav-left;
        animation: .3s ease-out left-slide-in;

        @media only screen and (max-width: $ultra-book-min + $break-point-buffer) {
            top: 0;

            .container {
                margin: 0 10px;
                padding: 0;
            }
        }

        .nav-buffer {
            box-sizing: border-box;
            height: $mat-height;
            margin-bottom: 0;
            padding: 5px 0;
            background-color: $nav-background-color;
        }

        .nav-header {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            height: $mat-height;
            padding: 10px 20px;
            border-bottom: 1px solid $nav-border-color;
            color: $nav-front-link-color;

            a {
                color: $nav-front-link-color;
            }

            .icon-toggle {
                span {
                    background-color: $nav-front-link-color;
                }
            }
        }

        .action-card {
            height: 100vh;
            overflow-y: auto;
            padding: 0;
            border-radius: 0;
            background-color: $nav-background-color;

            .nav-wrap {
                margin-bottom: 10px;
            }

            .action-header {
                padding: 20px 20px 15px;
                background-color: $nav-background-color;
                color: $nav-font-color;
                border-color: $nav-border-color;

                a {
                    font-size: $nav-font-size;
                    color: $nav-font-color;
                }
            }

            .action-bar {
                padding: 12px 20px;
                background-color: $nav-background-color;
                color: $nav-font-color;
                font-size: $nav-font-size;

                &:hover {
                    background-color: rgba($nav-background-hover-color, .3);
                }

                &.active {
                    background-color: rgba($nav-background-hover-color, .2);
                }

                &-nested {
                    padding-left: 30px;
                    background-color: $nav-background-nested-color;

                    &:hover {
                        background-color: $nav-background-nested-hover-color;
                        color: $primary-dark;
                    }

                    &.active {
                        background-color: $nav-background-nested-active-color;
                        color: $primary-dark;
                    }
                }

                .toggle-icon {
                    i {
                        font-size: 12px;
                    }
                }
            }

            .router-level-1 {
                font-size: $nav-header-font-size;
            }

            .router-level-2 {
                padding-left: 30px;
                font-weight: 400;
            }
        }
    }

    .top {
        &.menu-opened {
            .header {
                .left {
                    width: $nav-side-width;

                    @media only screen and (max-width: $ultra-book-min + $break-point-buffer) {
                        width: initial;
                    }
                }
            }
        }
    }

    .content {
        &.menu-opened {
            margin-left: $nav-left-width;

            @media only screen and (max-width: $ultra-book-min + $break-point-buffer) {
                margin-left: 0;
            }

            .container {
                width: auto;
                margin: 0 20px;

                @media only screen and (min-width: $large-desktop-min + $break-point-buffer + $nav-left-width) {
                    width: $large-desktop-min - $break-point-buffer;
                    margin: 0 auto;
                }
            }
        }
    }

    .nav-mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($black, .8);
        z-index: $z-index-nav-left-mask;
        animation: .3s ease-in-out fade-in;
    }

    @keyframes left-slide-in {
        0% {
            transform: translate(-10px, 0);
            opacity: .5;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}
