@import "../../style/variables.scss";

.b-md-view {
    max-width: 100%;
    padding: 10px 20px;
    overflow-x: auto;
    color: $gray-dark;

    h1:first-child {
        margin-top: .5em;
    }

    ul,
    ol {
        padding-left: 20px;
        margin-bottom: 20px;
        list-style-position: outside;

        li {
            list-style: inherit;
            line-height: 1.3em;
            margin-bottom: 5px;
        }
    }

    li {
        ul,
        ol {
            margin-top: 8px;
        }
    }

    hr {
        margin-bottom: 20px;
    }

    p,
    li,
    table,
    blockquote,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.6;

        code {
            padding: 0 5px;
            border-radius: 3px;
            background-color: $gray-lighter;
            color: $primary-dark;
            font-family: Menlo, Courier, monospace;
        }
    }

    table {
        font-size: 12px;
        color: rgba(0, 0, 0, .9);
        text-align: center;
        border-spacing: 0;
        border-collapse: collapse;
        background-color: $white;
        border-radius: 2px;

        thead {
            tr {
                height: 56px;
                line-height: 56px;
                vertical-align: middle;
                border-bottom: 1px solid $gray;

                th {
                    min-width: 120px;
                    padding: 0 15px;
                    color: rgba(0, 0, 0, .54);
                    user-select: none;
                }
            }
        }

        tbody {
            tr {
                height: 40px;
                line-height: 40px;
                vertical-align: middle;
                border-bottom: 1px solid rgba(0, 0, 0, .12);
                transition: background .3s cubic-bezier(.25, .8, .5, 1);

                will-change: backgaound;

                &:hover {
                    background-color: $gray-lighter;
                }

                td {
                    padding: 10px;
                    line-height: normal;
                }
            }
        }
    }
}
