@import "../../style/variables.scss";

.b-md-view {
    padding: 10px 20px;
    color: $gray-dark;

    h1:first-child {
        margin-top: .5em;
    }

    ul,
    ol {
        padding-left: 20px;
        margin-bottom: 20px;
        list-style-position: outside;

        li {
            list-style: inherit;
            line-height: 1.3em;
            margin-bottom: 5px;
        }
    }

    hr {
        margin-bottom: 20px;
    }
}
