@import "../../style/variables.scss";

.b-pagination {
    .size-mini {
        @media screen and (min-width: $ultra-book-min) {
            display: none;
        }

        &.active {
            display: block;
        }

        .page-info {
            margin: 0 10px;
            color: $gray;

            .page-current {
                color: $gray-dark;
            }
        }
    }

    .size-normal {
        @media screen and (max-width: $ultra-book-min - 1px) {
            display: none;
        }

        button {
            padding: 0 10px;
            color: black;
            background-color: transparent;
            border-color: transparent;
            transition: none;

            &.disabled {
                color: $gray;
            }

            &:hover {
                color: $white;
                background-color: rgba($primary, .7);

                &.disabled {
                    color: $white;
                    background-color: $primary-lighter;
                }
            }

            &.active {
                color: $white;
                background-color: $primary;
            }
        }

        .page-info,
        .page-size {
            margin-left: 15px;
            font-size: 11px;
            color: $gray-dark;

            .b-select {
                display: inline-block;

                .b-select-input-wrap .b-select-input-area {
                    width: 60px;
                }

                .b-select-selected-value {
                    margin-left: 15px;
                    font-size: 12px;
                }

                .b-select-menu {
                    width: 100px;
                }

                input {
                    margin-left: 15px;
                    width: 45px !important;
                    font-size: 11px;
                    text-align: left;
                }
            }
        }
    }
}

