@import "../../style/variables";

.b-popper-wrap {
    position: absolute;
    height: 0;
    width: 0;
    z-index: $z-index-popper;

    &.in-dialog {
        z-index: $z-index-popper-in-dialog;
    }

    .b-popper {
        position: absolute;
        animation: .15s ease popper-show;

        .action-card {
            margin: 0;
        }
    }

    @keyframes popper-show {
        0% {
            opacity: .4;
        }

        100% {
            opacity: 1;
        }
    }
}
