@import "../../style/variables.scss";

.b-select-menu {
    padding: 10px 0;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    overflow-y: auto;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        height: 30px;
        min-width: 256px;
        background-color: $white;
        padding: 0 10px;
        cursor: pointer;
        white-space: pre;

        .b-icon-tick {
            color: $white;
        }

        &:hover {
            background-color: $gray-light;
        }

        &.b-select-menu-selected {
            background-color: $gray-light;
            color: $black;

            span {
                font-weight: 800;
            }

            .b-icon-tick:before {
                color: $primary-dark;
            }
        }

        &.b-select-menu-highlight {
            background-color: $primary-dark;
            color: $white;

            .b-icon-tick:before {
                color: $primary-dark;
            }

            &.b-select-menu-selected .b-icon-tick:before {
                color: $white;
            }
        }
    }

    .empty-list-item {
        justify-content: center;
        color: #666;
    }
}
