@import "../../style/variables.scss";

.b-select-cascader-menu {
    .select-wrap {
        display: flex;
        justify-content: space-between;

        .select-list {
            display: inline-block;
            margin: -10px 10px -10px 0;
            max-height: 300px;
            padding-right: 10px;
            border-right: 1px solid $gray-light;
            overflow-y: auto;
            overflow-x: visible;

            &:first-child {
                margin-left: -10px;
            }

            &:last-child {
                margin-right: -10px;
                padding-right: 0;
                border-right: none;
            }

            .select-item {
                display: block;
                box-sizing: border-box;
                padding: 5px;
                min-width: 100px;
                max-width: 600px;
                border-radius: 2px;
                cursor: pointer;
                user-select: none;
                white-space: nowrap;
                word-break: break-all;

                &:hover {
                    background-color: $gray-light;
                }

                &.selected {
                    position: relative;
                    background-color: $primary-dark;
                    color: $white;
                }

                &.disabled {
                    color: $gray;
                    cursor: not-allowed;
                }
            }
        }
    }
}
