.b-table {
    .table-area {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .foot-area {
        .b-pagination {
            padding: 10px;
        }
    }

    .no-record-remind {
        margin-top: 20px;
        color: $gray-dark;
    }
}
