.b-textarea {
    position: relative;

    textarea {
        line-height: 22.5px;
        overflow: auto;
        background-color: transparent;
    }

    .b-input-shadow-textarea {
        overflow: hidden;
        position: absolute;
        height: initial;
        visibility: hidden;
        top: 0;
        left: 0;
    }
}
