.b-tree-node {
    &.leaf {
        position: relative;

        &:before {
            position: absolute;
            content: "";
            left: -40px;
            top: 25px;
            width: 40px;
            border-top: 1px solid $gray-light;
        }

        &:after {
            position: absolute;
            content: "";
            height: 100%;
            top: -20px;
            left: -40px;
            border-left: 1px solid $gray-light;
        }
    }

    &.is-last-child {
        &:after {
            height: 45px;
        }
    }

    .node-el {
        display: flex;
        align-items: center;

        .change-fold {
            position: relative;
            cursor: pointer;

            .b-icon-right:before {
                position: relative;
                font-weight: 800;
                transform-origin: center center;
                left: -8px;
                top: 2px;
            }

            &.is-unfold {
                transform: rotate(90deg);

                .b-icon-right:before {
                    left: -2px;
                    top: 8px;
                }
            }
        }

        .content-wrap {
            margin: 0;
            height: 45px;
            line-height: 45px;
        }
    }
}
