.b-tree-node {
    position: relative;

    &.leaf {
        &.siblings-has-children:before {
            width: 55px;
        }

        &:before {
            position: absolute;
            content: "";
            left: -40px;
            top: 25px;
            width: 40px;
            border-top: 1px solid $gray-light;
        }

        &:after {
            position: absolute;
            content: "";
            height: 100%;
            top: -12px;
            left: -40px;
            border-left: 1px solid $gray-light;
        }

        &.has-children:before {
            width: 32px;
        }
    }

    &.is-last-child {
        &:after {
            height: 38px;
        }
    }

    .change-fold {
        position: absolute;
        cursor: pointer;
        top: 15px;
        left: -8px;
        width: 18px;
        height: 18px;
        border-radius: 3px;

        i {
            color: $gray-dark;
            font-size: 18px;
        }

        &:hover {
            background-color: $gray-light;

            i {
                color: $primary;
            }
        }

        .b-icon-arrow-right:before {
            position: absolute;
            transform-origin: center center;
        }

        .is-unfold:before {
            transform: rotate(90deg);
        }
    }

    .node-el {
        display: flex;
        align-items: center;
        margin: 0;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;

        &.siblings-not-has-children {
            padding-left: 0;
        }
    }
}
