@charset 'UTF-8';

@font-face {
    font-family: "base-ui-font";
    src: url("./base-ui.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

[class^="b-icon-"]:before,
[class*=" b-icon-"]:before {
    font-family: "base-ui-font", sans-serif !important;
    speak: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.b-icon-user-search:before { content: "\e64e"; }

.b-icon-download:before { content: "\e600"; }

.b-icon-upload:before { content: "\e601"; }

.b-icon-refresh:before { content: "\e851"; }

.b-icon-adjust:before { content: "\e67c"; }

.b-icon-not-love:before { content: "\e69c"; }

.b-icon-love:before { content: "\e69d"; }

.b-icon-chart:before { content: "\e60e"; }

.b-icon-header:before { content: "\e673"; }

.b-icon-linkedin:before { content: "\e653"; }

.b-icon-trash:before { content: "\e652"; }

.b-icon-code:before { content: "\ea77"; }

.b-icon-edit:before { content: "\eaa7"; }

.b-icon-wechat:before { content: "\ec7d"; }

.b-icon-twitter:before { content: "\ecb3"; }

.b-icon-folder:before { content: "\e64a"; }

.b-icon-filter:before { content: "\e669"; }

.b-icon-github:before { content: "\e709"; }

.b-icon-qq:before { content: "\e80e"; }

.b-icon-phone:before { content: "\e66f"; }

.b-icon-eye:before { content: "\e63a"; }

.b-icon-cancel:before { content: "\eab0"; }

.b-icon-arrow-bottom:before { content: "\e6a2"; }

.b-icon-underline:before { content: "\e734"; }

.b-icon-equation:before { content: "\e810"; }

.b-icon-setting:before { content: "\e608"; }

.b-icon-more:before { content: "\e60b"; }

.b-icon-package:before { content: "\e9c5"; }

.b-icon-info:before { content: "\e67d"; }

.b-icon-google-plus:before { content: "\e721"; }

.b-icon-emotion:before { content: "\e6ae"; }

.b-icon-weibo:before { content: "\e720"; }

.b-icon-google:before { content: "\e719"; }

.b-icon-language:before { content: "\e756"; }

.b-icon-reset:before { content: "\e60c"; }

.b-icon-ban:before { content: "\e6ad"; }

.b-icon-customer-service:before { content: "\e7bb"; }

.b-icon-camera:before { content: "\e6b3"; }

.b-icon-book:before { content: "\e64f"; }

.b-icon-share:before { content: "\e633"; }

.b-icon-chat:before { content: "\e62b"; }

.b-icon-link:before { content: "\e624"; }

.b-icon-user:before { content: "\e620"; }

.b-icon-apple:before { content: "\e602"; }

.b-icon-italic:before { content: "\e6f8"; }

.b-icon-detail:before { content: "\e609"; }

.b-icon-split:before { content: "\e639"; }

.b-icon-facebook:before { content: "\e635"; }

.b-icon-qr-code:before { content: "\e60d"; }

.b-icon-compress:before { content: "\e626"; }

.b-icon-expand:before { content: "\e62a"; }

.b-icon-bell:before { content: "\e650"; }

.b-icon-unordered-list:before { content: "\e764"; }

.b-icon-power:before { content: "\e85d"; }

.b-icon-copy:before { content: "\e687"; }

.b-icon-image:before { content: "\e627"; }

.b-icon-ordered-list:before { content: "\e9ca"; }

.b-icon-quote:before { content: "\e9cc"; }

.b-icon-search:before { content: "\e606"; }

.b-icon-bold:before { content: "\e6fe"; }

.b-icon-create:before { content: "\e603"; }

.b-icon-pagelines:before { content: "\e6eb"; }

.b-icon-globe:before { content: "\e668"; }

.b-icon-send:before { content: "\e905"; }

.b-icon-user-edit:before { content: "\e607"; }

.b-icon-user-manage:before { content: "\e60a"; }

.b-icon-left:before { content: "\e6af"; }

.b-icon-right:before { content: "\e6e7"; }

.b-icon-arrow-right:before { content: "\eaa8"; }

.b-icon-arrow-top:before { content: "\eaa9"; }

.b-icon-arrow-left:before { content: "\eaaa"; }
