@import "../variables.scss";
@import "./grid.scss";
@import "./tiles.scss";
@import "./level.scss";

* {
    margin: 0;
}

$break-point-buffer: 60px;

.container {
    width: auto;
    box-sizing: border-box;
    padding: 20px 0;
    margin: 10px;

    @media only screen and (min-width: $small-desktop-min + $break-point-buffer) {
        width: $small-desktop-min;
        margin: 0 auto;
    }

    @media only screen and (min-width: $desktop-min + $break-point-buffer) {
        width: $desktop-min;
        margin: 0 auto;
    }

    @media only screen and (min-width: $large-desktop-min + $break-point-buffer) {
        width: $large-desktop-min;
        margin: 0 auto;
    }

    @media only screen and (max-width: $desktop-min) {
        flex: 1;
    }

    @media only screen and (max-width: $small-desktop-min + $break-point-buffer) {
        margin: 10px;
        padding: 0;
    }

    &-wide {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
}

.mat {
    display: flex;
    color: $white;
    background-color: $primary;

    align-items: center;

    &-sm {
        height: $mat-height;
    }
}

.space {
    &-left {
        margin-left: 8px;
    }

    &-right {
        margin-right: 8px;
    }
}

.heading {
    padding: 0 10px;
    margin: 30px 0 15px;
    border-left: 5px solid $gray;
    color: $gray-darker;
}

.heading-dark {
    border-color: $gray;
}

.img {
    &-lg {
        width: 200px;
    }

    &-sm {
        width: 15px;
    }
}

.must-hide {
    display: none !important;
}
