@import "./../variables.scss";

button {
    height: 30px;
    padding: 0 15px;
    font-weight: 500;
    color: $white;
    text-align: center;
    cursor: pointer;
    background-color: $primary-dark;
    border: 1px solid $primary-dark;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    transition: background-color .3s;

    &:hover {
        background-color: $primary;
    }

    &:active {
        background-color: $primary-dark;
    }

    &.normal {
        color: $gray-darker;
        background-color: $white;
        border-color: $gray;

        &:hover {
            color: $primary;
            border-color: $gray;
        }

        &:active {
            color: $primary;
            border-color: $primary;
        }
    }

    &.danger {
        color: $red;
        background-color: $gray-lighter;
        border-color: $gray-light;

        &:hover {
            color: $white;
            background-color: $red;
            border-color: $red;
        }

        &:active {
            color: $white;
            background-color: $red-dark;
            border-color: $red;
        }
    }

    &.disabled {
        color: $black;
        cursor: not-allowed;
        background-color: $gray-lighter;
        border: 1px dashed $gray;

        &:hover {
            color: $black;
            background-color: $gray-lighter;
            border-color: $gray;
        }
    }

    &.simple {
        color: $primary;
        background-color: $white;
        border: none;

        &:hover {
            background-color: $gray-light;
        }

        &:active {
            background-color: $gray;
        }

        &.disabled {
            color: $gray;

            &:hover {
                background-color: transparent;
            }
        }
    }

    &.link {
        display: inline;
        font-size: inherit;
        font-weight: inherit;
        color: $primary-dark;
        background-color: transparent;
        border-color: transparent;
        border-radius: 0;
        padding: 0;

        &:hover {
            color: $primary;
            background-color: transparent;
        }

        &:active {
            color: $primary-dark;
            background-color: transparent;
            border-bottom-color: transparent;
        }

        &.disabled {
            color: $gray;

            &:hover {
                border-color: transparent;
            }
        }
    }

    &.block {
        display: block;
        width: 100%;
    }

    &.lg {
        font-size: 15px;
        font-weight: 400;
        padding: 0 20px;
        height: 35px;
    }

    &.sm {
        font-size: 12px;
        font-weight: 300;
        padding: 0 10px;
        height: 24px;

        &.danger {
            font-weight: 350;
        }
    }

    i {
        font-size: 14px;
        font-weight: bold;
    }
}
