@import "../variables.scss";
@import "./button.scss";
@import "./input.scss";
@import "./textarea.scss";
@import "./group-pick.scss";

.form-group {
    display: inline-block;
    min-width: $form-inline-width;
    margin-right: 8px;
    margin-bottom: 15px;
    vertical-align: top;

    label {
        display: block;
        font-size: $form-label-font-size;
        color: $gray-dark;
    }

    input,
    textarea {
        font-size: $form-font-size;
        display: inline-block;
    }

    input {
        margin-top: 5px;

        &::placeholder {
            font-size: $form-font-size;
        }
    }

    textarea {
        padding: 4px 0;
        margin-top: 5px;
    }
}

.form-inline .form-group {
    display: inline-block;

    .b-select .b-select-input-wrap .b-select-input-area {
        width: $form-inline-width;
    }
}

.form-block {
    .form-group {
        display: block;
        margin-right: 0;

        input,
        textarea,
        button.btn-block {
            width: 100%;
        }
    }
}

.form-block-horizontal {
    > .form-group {
        display: flex;
        justify-content: flex-start;
        margin-right: 0;

        input,
        textarea {
            width: 100%;
        }

        label {
            padding-top: 15px;
        }

        > * {
            &:first-child {
                flex: 1;
            }

            &:last-child {
                flex: 4;
            }
        }

        @media screen and (max-width: $tablet-min) {
            display: block;
        }
    }
}

form,
.form-inline {
    .form-group {
        @media screen and (max-width: $tablet-min) {
            display: block;
            margin-right: 0;

            input,
            textarea,
            button,
            .b-input {
                width: 100%;
            }

            .b-select {
                .b-select-input-wrap {
                    .b-select-input-area {
                        width: 100%;
                    }
                }
            }

            .image-preview {
                max-width: 100%;
            }
        }
    }

    .btn-group {
        margin-top: 20px;
        display: inline-block;

        > button {
            margin-right: 10px;
        }
    }

    .form-button {
        margin-top: 20px;
        margin-right: 10px;
    }
}

