@import "../variables.scss";

input {
    &[type="text"],
    &[type="password"],
    &[type="number"],
    &[type="tel"],
    &[type="email"],
    &[type="file"] {
        width: 256px;
        height: 30px;
        line-height: 20px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-size: 15px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $gray;
        border-radius: 0;
        outline: none;
        transition: .3s;

        &:active {
            border-color: $primary-light;
        }

        &:focus {
            border-color: $primary;
        }

        &::placeholder {
            color: $gray;
        }

        &:disabled {
            cursor: not-allowed;
            border-color: $gray;
            color: $gray;

            &:active {
                border-color: $gray;
            }
        }
    }
}
