// Color
$white: #fff;
$black: #000;

$gray-lighter: #f3f3f3;
$gray-light: #e0e0e0;
$gray: #bdbdbd;
$gray-dark: #616161;
$gray-darker: #212121;

$blue-lighter: #c5cae9;
$blue-light: #9fa8da;
$blue: #304ffe;
$blue-dark: #3f51b5;
$blue-darker: #3949ab;

$red-light: #ff1744;
$red: #f44336;
$red-dark: #b71c1c;

$green-light: #81c784;
$green: #4caf50;
$green-dark: #2e7d32;

// Dimension
// Screen
$large-desktop-min: 1400px;
$desktop-min: 1200px;
$small-desktop-min: 960px;
$tablet-min: 480px;

// Element
$mat-height: 60px;

// Font
$heading1: 40px;
$heading2: 30px;
$heading3: 25px;
$heading4: 20px;
$heading5: 18px;
$heading6: 16px;

// Date Picker
$date-picker-btn-width: 28px;

// Transition
$all-transition: all .36s cubic-bezier(.78, .14, .15, .86);
$z-index-toast: 9999;
$z-index-dialog: 9998;
$z-index-wrapper: 9997;

// Theme
$primary: #3f51b5;
