@import "../variables.scss";

.card {
    padding: 20px;
    margin: 10px 0;
    background-color: $white;
    border-radius: 2px;
    box-shadow: $standard-box-shadow;

    h1:first-child {
        margin-top: .5em;
    }
}
