@import "../variables.scss";
$default-color: $gray-dark !default;

.tabs-light,
.tabs {
    display: flex;

    a {
        display: flex;
        padding: 8px 10px;
        overflow: hidden;
        overflow-x: auto;
        color: $default-color;
        vertical-align: top;
        cursor: pointer;
        border: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        align-items: center;
        justify-content: center;

        &:hover {
            border-bottom-color: $gray-dark;
        }

        &:active {
            color: $primary;
            border-bottom-color: $primary;
        }
    }

    li {
        display: block;

        &.active a {
            color: $primary;
            border-bottom-color: $primary;
        }
    }

    ul {
        display: flex;

        align-items: center;
        justify-content: flex-start;
    }
}

.tabs-light {
    a {
        &:hover {
            background-color: $gray-light;
            border-color: transparent;
        }

        &:active {
            color: $gray-dark;
            background-color: initial;
        }
    }

    li.active {
        a {
            border: 1px solid $primary;
            border-bottom: none;

            &:hover {
                color: $white;
                background-color: $primary;
            }

            &:active {
                background-color: $primary-dark;
            }
        }
    }
}
