@import "../variables.scss";
@import "../mixin/arrow.scss";

.b-tooltip {
    position: absolute;
    display: none;
    padding: 4px 6px;
    background-color: $primary-dark;
    color: $white;
    border-radius: 3px;
    font-size: 12px;
    z-index: $z-index-tooltip;

    &:after {
        @include genArrow("down", 6px, rgba(0, 0, 0, .8));
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        margin: auto;
    }
}
