@import "../variables.scss";

body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    font-size: 15px;
    color: $gray-darker;
    background-color: #f1f1f1;

    &.b-modal-open {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: .7em;
    margin-top: 1em;
    color: $gray-darker;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

a,
a:visited {
    text-decoration: none;
    color: $primary-dark;
    cursor: pointer;
}

hr {
    border-color: #eee;
}

p {
    margin-top: .7em;
    margin-bottom: 1.2em;
    line-height: 1.5em;
}

pre,
code {
    font-family: "Latin Modern Mono Light", "Latin Modern Mono", monospace !important;
}

pre {
    margin-bottom: 20px;
    padding: 15px;
    background-color: $gray-lighter;
    line-height: 1.2em;
    overflow-x: auto;
}

blockquote {
    font-style: italic;
    margin: 1em 0;
    padding: 1em 20px;
    position: relative;
    color: $gray-dark;
    border-left: 5px solid;
    background-color: $gray-lighter;

    p {
        margin: 0;
    }
}
